{% extends "wrapper_h.html" %}
{% block content %}
 <h1 align="center">Вы желаете удалить следующие позиции?</h1>
 <center>
 {% for a in ppp %}
 {% if a.valtype == 1 %}
 -{{a.atrib}}<br>
 {% endif %}
 {% if a.valtype == 2 %}
 -{{a.atrib}} : {{a.val_float}}<br>
 {% endif %}
 {% if a.valtype == 3 %}
 -{{a.atrib}} : {{a.val_text}}<br>
 {% endif %}
 {% endfor %}
 <form name="form2" action="" method="post">
     {% csrf_token %}
   <input name="numcase" type="text" value="{{number}}" hidden><br>
  <button type="submit" name="button">Удалить</button>
  </form>
 </center>
{% endblock %}
