{% extends "wrapper_h.html" %}
{% block content %}
<br>
<h1 align="center">Добаление эвакуации</h1><br>
Оценка дорожного покрытия и расстояния необходима для расчета Комплексной оценки дорожных условий (КОДУ)<br><br>
<h3 align="center">Пациент: {{pac.f}} {{pac.i}} {{pac.o}}</h3><br>
<h3 align="center">СНИЛС: {{pac.snils}}</h3><br>
<h3 align="center">Телефон родственника: {{pac.telrod}}</h3><br>
<h4 align="center">Эвакуирующий врач: {{request.user.last_name}}</h4><br>
<br>
<center>
  Таблица оценки дорожного покрытия<br><br>
  <table border = "1">
    <tr><td>Состояние дорожного покрытия</td><td>Оценка</td></tr>
    <tr><td>Федеральные трассы с твердым покрытием без существенных изьянов</td><td>5</td></tr>
    <tr><td>Региональные дороги с твердым покрытием без изъянов</td><td>4</td></tr>
    <tr><td>Региональные дороги с твердым покрытием с изъянами</td><td>3</td></tr>
    <tr><td>Региональные дороги с покрытием и периодическим его отсутствием.</td><td>2</td></tr>
    <tr><td>До 40 % пути грунтовая дорога.</td><td>1</td></tr>
  </table><br><br>
<form class="form1" action="" method="post">
  {% csrf_token %}
  {{ form.as_p}}
  <button type="submit" name="button">Добавить</button>
</form>
</center>
{% endblock %}
