{% extends "wrapper_h.html" %}
{% block content %}
{% if results.count == 0 %}
<h1 align="center">Активных эвакуаций в ЛПУ нет</h1>
{% else %}
<h1 align="center">Найдено активных эвакуаций в ЛПУ - {{results.count}}</h1>
<table align="center" border="1">
  <tr><td>Номер</td><td>Эвакуация из</td><td>Фамилия пациента</td><td>Действие</td></tr>
  {% for item in results %}
  <tr>
    <td>
      {{item.id}}
    </td>
    <td>
      {{item.fromlpu}}
    </td>
    <td>
      {{item.id_pac}}
    </td>
    <td>
      <a href="/showeva/{{item.id}}/0/">Перейти</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endif %}
{% endblock %}
