{% extends "wrapper_h.html" %}
{% block content %}
<H1 align="center">Вероятность инсульта при входных данных: {{res}}%</h1></br>
<H2 align="center">{{tex}}</H2>
<p align="center">Прогноз строится с помощью искусственной нейронной сети на основе базы больных
  и здоровых людей, состоящей из почти 1500 записей, что для нейрости очень мало,
  поэтому данный прогноз лишь условный. Здесь, Вы можете поменять свои данные (например вес),
  и увидеть как изменится вероятность инсульта. Возможно Вы задуметесь о своем образе жизни.</p>
{% endblock %}
