{% extends "wrapper.html" %}
{% block content %}
<div id="cont">
<p>
  Илия Бейли оказался в тени дерева и пробормотал:
     - Так и  знал.  Вспотел.  -  Он  помолчал,  вытер лоб тыльной стороной
ладони и кисло посмотрел на покрывшую ее влагу.  - Я вспотел, - сказал он в
пространство,  как бы  высказывая космический закон,  и  снова почувствовал
досаду на Вселенную, которая делала одновременно существенное и неприятное.
     Никто  никогда не  потел (если не  желал,  разумеется) в  Городе,  где
температура и  влажность воздуха строго контролировались и где телу никогда
не  было необходимости делать то,  что вызывало бы больший жар,  чем жар от
ходьбы.
     Теперь _э_т_о_ стало культурным.
     Он  посмотрел на поле,  где разбросанная группа мужчин и  женщин более
или  менее работали.  В  основном это была молодежь,  но  было и  несколько
человек  среднего  возраста,  вроде  самого  Бейли.  Они  неумело  работали
мотыгами и делали разные другие вещи,  которые должны были делать роботы, и
делали бы куда более эффективно, если бы им не приказали стоять в стороне и
ждать, пока человеческие существа упрямо практиковались.
     В небе были облака,  и солнце на минуту зашло за них. Бейли неуверенно
взглянул вверх.  С одной стороны это означало,  что прямой солнечный жар (и
пот) прекратятся. С другой стороны - не пойдет ли дождь?
     Такое уж неудобство Снаружи.  Человек вечно качается между неприятными
альтернативами.
     Бейли  всегда  поражался,   что  относительно  маленькая  тучка  может
полностью закрыть солнце,  затемнить Землю от  горизонта до  горизонта,  но
большую часть неба оставить голубой.
     Он  стоял под нависшими листьями дерева (нечто вроде примитивных стены
и потолка) и снова посмотрел на группу. Раз в неделю они все выходили сюда,
при любой погоде.  И  они вербовали рекрутов.  Их определенно стало больше:
начинали отважные единицы.  Правительство Города хоть не участвовало в этой
попытке, но милостиво не ставило препон.
     На  горизонте справа Бейли  видел резкие многопальчатые купола Города,
заключающие в  себе  все, что  делает  жизнь  ценной.  Он  увидел маленькое
движущееся пятнышко:  оно было слишком далеко,  что бы отчетливо разглядеть
его.  По манере движения и  по некоторым мелким признакам Бейли был уверен,
что это робот,  но это его не удивило.  Земная поверхность вне городов была
областью роботов, а не людей - исключая тех немногих, вроде него, мечтавших
о звездах.  Его глаза автоматически снова повернулись к звездным мечтателям
с мотыгами и поочередно оглядели их.  Все работали,  все учились переносить
тяготы Снаружи и... - Он нахмурился и тихо пробормотал:
     - А где же Бентли?
     Чуть задыхающийся голос сказал:
     - Я здесь, папа.
     Бейли быстро повернулся.
     - Не делай этого, Бен.
     - Чего не делать?
     - Не  подкрадывайся  сзади.  Мне  и  так  нелегко  сохранять  душевное
равновесие Снаружи, а тут еще страдай от неожиданности.
     - Я вовсе не собирался пугать тебя,  но,  идя по траве,  много шума не
сделаешь.  А ты не думаешь,  что тебе пора идти внутрь,  папа? Ты здесь уже
больше двух часов, и, наверное, их с тебя хватит.
  </p>
</div>
<div id="cont2">
<p>
  - Почему?  Потому что мне сорок пять, а ты девятнадцатилетний щеночек?
И ты считаешь, что заботишься о своем дряхлом отце?
    - Да,  - сказал Бен, - и немножко о хорошей эффективной работе на твою
долю. Ты влезаешь прямо в суть.
    Бен широко улыбнулся.  Круглое лицо,  блестящие глаза.  В нем много от
Джесси, подумал Бейли, много от матери, но есть легкие следы удлиненности и
серьезности лица самого Бейли.
    И  еще  у  Бена  была  отцовская  манера  задумываться.  Временами  он
погружался в  серьезные размышления,  морщил лоб,  и становилось совершенно
ясно, что он законный сын своего отца.
    - Я чувствую себя прекрасно, - сказал Бейли.
    - Верно, папа. Ты лучше нас всех, учитывая...
    - Что учитывая?
    - Твой возраст, конечно. И я не забываю, что именно ты начал это. Но я
увидел, что ты укрылся под деревом, и подумал: может старику хватит.
    - Это я -  старик? - сказал Бейли. Робот, которого он заметил у Города
был уже достаточно близко,  но Бейли не вглядывался в  него.  -  Есть смысл
встать  под  дерево,   когда  солнце  такое  яркое.   Мы   хотим  научиться
пользоваться выгодами Снаружи,  но также научиться переносить его тяготы. А
солнце вышло из-за облака.
    - Да. Ну, значит, ты не хочешь вернуться?
    - Я  могу перенести это.  Еще  неделя,  и  я  буду проводить здесь все
послеобеденное время. Это моя привилегия в соответствии с разрядом С-7.
    - Речь не о привилегиях, папа, а о переутомлении.
    - Я же говорю, я прекрасно себя чувствую.
    - Уверен.  А  придешь домой -  вытянешься на постели и будешь лежать в
темноте.
</p>
</div>
{% endblock %}
